import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --main-brand-color: #297AE3;
    --primary-color: #15171C;
    --secondary-color: #232933;
    --light-secondary-color: #2E3744;
    --text-color: white;
    --secondary-text-color: #b3b4b6;


} 

media (prefers-color-scheme:light) {
    :root{
        --text: #090c08;
        --background: #f8fbf7;
        --primary: #1d41b7;
        --secondary: #7ac9eb;
        --accent: #cacaca;
    } 
}
*{
   margin: 0;
   padding: 0;
}
body{
    min-height: 100 vh;
    background:  var (--primary-color);
    font-family: 'poppins', sans-serif;
    font-size: 20 px;
    color: var (--text-color);
}
h1{
  font-size: max ( 5 vw ,20 px);
  line-height: 115 px;
}
.subheading{
    margin-top: 25 px;
    color: var (--secondary-text-color) ;
}    

